
<mat-tab-group class="h-full" #grp>
  <mat-tab [label]="'Transportbox'">
    <mat-card appearance="outlined" class="h-[calc(100%-16px)] m-2 !flex !flex-col">
      <mat-card-header #head>
        <mat-card-title>List of all tranport boxes</mat-card-title>
        <mat-card-subtitle>
          All transport boxes for project: 
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="!flex !flex-grow !overflow-auto">
        <transport-box-list class="w-full" 
        (boxSelection)="selectedBox = $event" 
        (tabChange)="grp.selectedIndex = 1"
        [transportBoxes]="transportBoxes"></transport-box-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab [label]="'Details'" [disabled]="!!!selectedBox">
    <transport-box-details [selectedBox]="selectedBox"></transport-box-details>
  </mat-tab>
  <mat-tab [label]="'Articles'" [disabled]="!!!selectedBox">
    <mat-card class="h-[calc(100%-8px)] m-1" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{selectedBox?.description}}</mat-card-title>
        <mat-card-subtitle>List of all articles for box</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="!overflow-y-auto flex flex-col grow">
        <article-list [articles]="articles"></article-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
