<section class="!h-full">
  <mat-list class="w-full !overflow-auto !h-full">
    <ng-container *ngFor="let box of transportBoxes">
      <mat-list-item (click)="selectedBox = box;" [ngClass]="!!selectedBox && selectedBox.boxGuid === box.boxGuid ? 'selected' : ''">
        <ng-container [ngTemplateOutlet]="box_item" [ngTemplateOutletContext]="{boxItem: box}"></ng-container>
      </mat-list-item>
    </ng-container>
  </mat-list>
</section>



<ng-template #box_item let-box="boxItem">
  <section class="flex flex-row justify-between items-center">
    {{box.description | truncate:[30]}}
    <button mat-icon-button (click)="changeTab()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </section>
</ng-template>