<section class="!h-full">
  <mat-list class="w-full !overflow-auto !h-full">
    @for (box of transportBoxes; track box) 
    {
      <mat-list-item (click)="selectedBox = box;" [class.selected]="selectedBox?.boxGuid === box.boxGuid">
        <ng-container [ngTemplateOutlet]="box_item" [ngTemplateOutletContext]="{boxItem: box}"></ng-container>
      </mat-list-item>
    }
  </mat-list>

</section>



<ng-template #box_item let-box="boxItem">
  <section class="flex flex-row justify-between items-center">
    {{box.description}}
    <button mat-icon-button (click)="changeTab()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </section>
</ng-template>