<section class="w-full">
  <form class="flex flex-col w-full gap-4" [formGroup]="passwordForm">
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off"
          formControlName="passwordFormControl" [type]="passwordVisible ? 'text' : 'password'"
          [(ngModel)]="password" PasswordValidator>
        <mat-error *ngIf="passwordForm.hasError('required', 'passwordFormControl')">
          The password must <strong>not be empty!</strong>
        </mat-error>
        <button mat-icon-button matIconSuffix (click)="passwordVisible = !passwordVisible">
          <mat-icon>{{!passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput autocomplete="off"
          formControlName="passwordConfirmFormControl" [type]="passwordVisibleConfirm ? 'text' : 'password'"
          [(ngModel)]="confirmPassword" [errorStateMatcher]="matcher" PasswordValidator>
        <mat-error *ngIf="passwordForm.hasError('required', 'passwordConfirmFormControl')">
          The password must <strong>not be empty!</strong>
        </mat-error>
        <mat-error *ngIf="passwordForm.hasError('notSame')">
          Passwords does not match!
        </mat-error>  
        <button mat-icon-button matIconSuffix (click)="passwordVisibleConfirm = !passwordVisibleConfirm">
          <mat-icon>{{!passwordVisibleConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</section>