.spinner-bg {
  padding: 15px 15px 8px 15px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.664);
}

.spinner {
  margin: 0 auto;
}

.spinner-message {
  margin-top: 15px;
  text-align: center;
  color: white;
}